
img {
	width : 300px;
	
}

input {
	width : 500px;	
	line-height : 24px;
	border-radius : 25px;
	display : block;
	margin : auto;
	text-align : center;
	border :  lightgrey 1px solid ;
	font-size : 1em;
	padding : 10px 30px;
}


button {
	margin : 50px 20px;
	padding : 10px 30px;
	border-radius : 5px;
	border :  black 1px;
	font-size : 1em;
	background-color: lightgrey;

}

#wrapper {
       
 	display : flex;
 	justify-content : center;

 	

}
